.movie-genre {
  margin-right: 6px;
  padding-left: 4px;
  padding-right: 4px;
  Size:12px;
  background: #FAFAFA;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  overflow: hidden;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  word-wrap: normal;
  -webkit-box-orient: vertical;
  cursor: pointer;
}