.movie-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    position: relative;
}

.spin,
.movies-list__title,
.error-alert{
    margin: 250px auto 250px auto;
}

.ant-alert-message {
    font-size: 2em;
    font-weight: 500;
}

.movie-list__pagination {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

@media (max-width: 940px) {
    .movie-list {
        justify-content: center;
    }
}