.movie__data {
    padding-right: 20px;
    padding-top: 10px;
    position: relative;
}

.movie {
    display: flex;
    height: 281px;
    width: 454px;
    margin-top: 35px;
    box-shadow: 5px 5px 5px lightgrey;
}

.movie__poster {
    min-width: 183px;
    margin-right: 20px;
}

.movie__release-date {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #827E7E;
}

.movie__description {
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 3;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
}

.movie__overall-rating {
    position: absolute;
    top:12px;
    right: 9px;
    height: 30px;
    width: 30px;
    padding-top: 2px;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
}

.movie__title {
    width: 200px;
    font-size: 20px;
}

.rateStar {
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 239px;
    height: 46px;
}

.rateStar li {
    width: 15px;
}